.faq-questions {
  margin: 0 0 30px 25px;
}

.faq-questions dt {
  font-size: 1.2em;
  margin-top: 15px;
}

.faq-questions dd {
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.faq-questions dt a {
  color: #333;
}

.faq-sidebar ul.list-unstyled {
  margin-bottom: 0;
}

.faq-sidebar ul.list-unstyled li {
  padding: 5px 0;
}

.faq-sidebar a i.fa {
  margin-right: 10px;
}

.faq-sidebar form textarea {
  height: 10em;
}