{% load bootstrap3 static %}

<div class="row">
  <div class="col-md-12">
    <h2>Project Title &amp; Description</h2>
    <form method="post" action="{% url 'project_ena_details' project.uuid %}" class="project-ena-form">
      {% csrf_token %}
      {% bootstrap_form project_ena_form %}
      {% buttons %}
        <button type="submit" class="btn btn-success button-lg">
          <i class="fa fa-floppy-o"></i> Submit
        </button>
      {% endbuttons %}
      <div class="form-messages">
        {# placeholder for ajax messages #}
      </div>
    </form>
  </div>
</div>
