<ul class="progress-tracker progress-tracker--text progress-tracker--center progress-tracker--spaced">
  <li class="progress-step is-complete">
    <div class="progress-marker"></div>
    <div class="progress-text">
      <h4 class="progress-title">Sequencing</h4>
      {{project.stage_counts.on_sequencer}}/{{project.projectline_count}} samples
    </div>
  </li>

  <li class="progress-step is-complete">
    <div class="progress-marker"></div>
    <div class="progress-text">
      <h4 class="progress-title">Bioinformatics</h4>
      {{project.stage_counts.bioinformatics}}/{{project.projectline_count}} samples
    </div>
  </li>

  <li class="progress-step is-active" aria-current="step">
    <div class="progress-marker"></div>
    <div class="progress-text">
      <h4 class="progress-title">Step 3</h4>
      Summary text
    </div>
  </li>

  <li class="progress-step">
    <div class="progress-marker"></div>
    <div class="progress-text">
      <h4 class="progress-title">Step 4</h4>
      Summary text
    </div>
  </li>

  <li class="progress-step">
    <div class="progress-marker"></div>
    <div class="progress-text">
      <h4 class="progress-title">Step 5</h4>
      Summary text
    </div>
  </li>
</ul>