<div class="panel panel-info">
  <div class="panel-heading">Sample Preparation</div>
  <div class="panel-body">
    <p>Proper preparation of samples is essential to achieve the best possible results. Please read our sample preparation instructions before sending your samples.</p>
    {# <iframe src="https://www.youtube.com/embed/-kTcFZxP6kM" frameborder="0" allowfullscreen></iframe> #}
    <h4><a href="/documents/3/MicrobesNG_preparing_your_bead_tubes.pdf"><i class="fa fa-file-pdf-o"></i> Preparing strain samples (bead tubes)</a></h4>
    <h4><a href="/documents/3/MicrobesNG_preparing_your_DNA_samples.pdf"><i class="fa fa-file-pdf-o"></i> Preparing DNA samples</a></h4>
  </div>
</div>