{% load static %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-body text-center text-danger">
        <h4>Strain Sample Submission Requirements</h4>
        <strong><i class="fa fa-exclamation-triangle"></i> Please read and accept our packaging &amp; submission requirements below. We are unable to accept improperly prepared &amp; packaged samples.</strong></div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p><strong>First, prepare your bead tubes according to the <a href="/documents/3/MicrobesNG_preparing_your_bead_tubes.pdf"><i class="fa fa-file-pdf-o"></i> MicrobesNG bead tube protocol.</a></strong></p>

    <p>It is important that any samples sent to us as strains (in bead tubes) are sent in safe and legal packaging. The applicable rules for biological samples are <strong><a href="https://microbesng.uk/documents/4/bio_transport.pdf">Packaging Instructions P650</a></strong> and the <strong>UN 3373 regulations</strong>. Although there are exemptions for known non-infectious substances, we require that these rules are applied in all cases, to guard against the possibility that strain characteristics are only partially known, or that comtamination has occured.</p>

    <h4>Key packaging requirements</h4>
    <ul>
      <li><strong>Leak-proof primary receptacle:</strong> use the bead tubes that we have provided.</li>
      <li><strong>Secondary packaging:</strong> The bead tubes should be placed into some form of sealed, leak-proof secondary packaging. A plastic container is a good choice.</li>
      <li><strong>Rigid outer packaging:</strong> The secondary packaging should be secured in rigid outer packaging (usually a strong cardboard box), surrounded by cushioning material.</li>
      <li><strong>Packaging must be capable of surviving a drop test of at least 1.2 meters.</strong></li>
      <li><strong>Correct labeling: </strong> The return address label that we provide will already include the to &amp; from address, so simply add a <a href="{% static 'portal/images/un3373.jpg' %}" title="UN 3373 diamond">UN 3373 package marking</a>, large enough that no side of the diamond is less than 50 mm.</li>
      <li><strong>Minimum size: </strong> At least one surface of the outer packaging must have dimensions of at least 100 mm x 100 mm.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>Example Packaging &amp; Marking</h4>
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="img-responsive" src="{% static 'portal/images/packaging_instruction_650_category_b.png' %}" alt="Packaging Instruction 650 example">
      </div>
    </div>
  </div>
</div>