{% load bootstrap3 static %}

<div class="row">
  <div class="col-md-12">
    <h2>Request Variant Calling</h2>
    {% if project.variant_status == 'COMPLETE' %}
      <div class="alert alert-warning" role="alert">If you submit a new variant calling request, your previous results will be overwritten. If you would like to keep them, please download your results before proceeding.</div>
    {% endif %}
    <p>Choose a reference genome by searching for the strain, RefSeq assembly accession, organism name etc. in the box below. Then choose the required samples from this project and click Submit to request variant calling.</p>
    <form method="post" action="{% url 'project_variant_calling' project.uuid %}" class="project-variant-calling-form">
      {% csrf_token %}
      {% bootstrap_form project_variant_calling_form %}
      <div class="form-group">
        <div class="checkbox">
          <label for="samples-select-all">
            <input type="checkbox" id="samples-select-all">
            Select All
          </label>
        </div>
      </div>
      {% buttons %}
        {% if project.variant_status == "IN_PROGRESS" %}
          <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="Variant calling is already in progress">
            <button type="submit" class="btn btn-success button-lg"  disabled>
              <i class="fa fa-floppy-o"></i> Submit
            </button>
          </div>
        {% else %}
          <button type="submit" class="btn btn-success button-lg">
            <i class="fa fa-floppy-o"></i> Submit
          </button>
        {% endif %}
      {% endbuttons %}
      <div class="form-messages">
        {# placeholder for ajax messages #}
      </div>
    </form>
  </div>
</div>