{% extends "base.html" %}
{% load bootstrap3 pipeline %}

{% block extra_js %}
  {% javascript 'mngweb_users' %}
{% endblock %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{% block jumbo_header %}{% endblock %}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% bootstrap_messages %}
      </div>
    </div>
  </div>
{% endblock %}
