{% extends 'account/base.html' %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block jumbo_header %}<i class="fa fa-user-circle"></i> {% trans "Sign in" %}{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <a class="pull-right" href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a>

          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-success" type="submit"><i class="fa fa-lock"></i> {% trans "Sign In" %}</button>
        </form>
      </div>

      {% if redirect_field_value %}
        <div class="col-md-5 col-md-offset-1">
          <h4>Why do I have to sign in or create an account?</h4>
          <p>In the interests of balancing security and ease-of-use, certain areas of the customer portal now require a login.
             Projects can still be accessed via. an anonymised link, which can be disabled by the project owner.
             Your customer page, where all your projects are listed, will now show both your own projects and any for which you are registered as a collaborator.
             This page will now always require a login.</p>
          <h4>I have existing projects, but I don't have an account</h4>
          <p>Simply <a href="{{ signup_url }}">register for an account</a> using the same email address that we have on file for you. Once verified, you will immediately gain access to your existing projects.
             In addition, you can still access your projects using their individual anonymised links.</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
