{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans "Logout" %}{% endblock %}

{% block jumbo_header %}<i class="fa fa-user-circle"></i> {% trans "Sign out" %}{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="POST" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-success" type="submit"><i class="fa fa-user-times"></i> {% trans "Sign Out" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
