{% extends 'account/base.html' %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "Change your password" %}{% endblock %}

{% block jumbo_header %}{% trans "Change your password" %}{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form method="post" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}
          {% bootstrap_form form %}
          <p><button class="btn btn-success" type="submit">{% trans 'Change Password' %}</button></p>
        </form>

        <p></p><a class="pull-right" href="{% url 'account_reset_password' %}">{% trans "Forgot your current password?" %}</a></p>
      </div>
    </div>
  </div>
{% endblock %}
