{% extends 'account/base.html' %}
{% load i18n bootstrap3 %}

{% block title %}{% if token_fail %}{% trans "Invalid password reset url" %}{% else %}{% trans "Reset your password" %}{% endif %}{% endblock %}
{% block jumbo_header %}{% if token_fail %}{% trans "Invalid password reset url" %}{% else %}{% trans "Reset your password" %}{% endif %}{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
          {% if form %}
            <form method="POST" action=".">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button class="btn btn-success" type="submit" name="action">{% trans 'Change password' %}</button>
            </form>
          {% else %}
            <p>{% trans 'Your password has now been changed.' %}</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row row-gap-top">
      <div class="col-md-6">
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
      </div>
    </div>
  </div>
{% endblock %}
