{% load static %}

<footer class="container-fluid footer">
  <div class="container-fixed">
    <div class="row">
      <div class="col-sm-4">
        <a href="https://www.google.co.uk/maps/place/University+of+Birmingham/@52.4566249,-1.9304025,14z/data=!4m5!3m4!1s0x0000000000000000:0x5eb315231196339a!8m2!3d52.450818!4d-1.9305146"
           title="Find us on Google Maps"><i class="fa fa-map fa-lg"></i>MicrobesNG Address</a>
        <address class="small">{{ settings.home.ContactSettings.address|linebreaksbr }}</address>
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled">
            <li>
              <a heaf="{{ settings.home.ContactSettings.email }}" title="Email us">
                <i class="fa fa-envelope fa-lg"></i>{{ settings.home.ContactSettings.email }}
              </a>
            </li>
            <li>
              <a heaf="{{ settings.home.ContactSettings.phone_uri }}" title="Call us">
                <i class="fa fa-phone fa-lg"></i>{{ settings.home.ContactSettings.phone_display }}
              </a>
            </li>
            <li>
              <a href="https://twitter.com/{{ settings.home.ContactSettings.twitter_username }}" title="Follow us on twitter">
                <i class="fa fa-twitter fa-lg"></i>@{{ settings.home.ContactSettings.twitter_username }}
              </a>
            </li>
            <li>
              <a href="https://github.com/{{ settings.home.ContactSettings.github_username }}" title="Find us on GitHub">
                <i class="fa fa-github fa-lg"></i>https://github.com/{{ settings.home.ContactSettings.github_username }}
              </a>
            </li>
          </ul>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="{% static "images/mng-logo-white-300.png" %}" class="logo">
      </div>
      <div class="col-sm-4 text-center">
        <img src="{% static "images/bham-logo-white-340.png" %}" class="logo">
      </div>
      <div class="col-sm-4 text-center">
        <img src="{% static "images/bbsrc-logo-white-500.png" %}" class="logo">
      </div>
    </div>
    <div class="row">
      <div class="col-sm=12">
        <p class="small">&copy; {{ page.get_site.site_name }} 2016</p>
      </div>
    </div>
  </div>
</footer>