{% load home_tags portal_tags account %}
{% load static %}

{% get_navigation_menu "top_menu" as top_menu_items %}

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="logo" src="{% static 'images/mng-logo-white-300.png' %}" alt="MicrobesNG logo">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="primary-navbar">
      <ul class="nav navbar-nav navbar-right">

        {% for item in top_menu_items %}
          <li><a href="{{ item.link }}">{{ item.title }}</a></li>
        {% endfor %}

        {% if user.is_authenticated %}
          <li class="navbar-divider">
            <a href="#" data-toggle="dropdown">{% user_display user %} <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'customer_projects' %}">View your sequencing projects</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'account_set_password' %}">Change your password</a></li>
              <li>
                <!-- Signout requires POST; use js to submit from link onClick -->
                <a class="signout-link" href="{% url 'account_logout' %}">Sign out</a>
                <form id="signout-form" action="{% url 'account_logout' %}" method="post">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                </form>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="navbar-divider"><a href="{% url 'account_login' %}">Sign in</a></li>
          <li><a href="{% url 'account_signup' %}">Register</a></li>
        {% endif %}

        </li>
      </ul>
    </div>
  </div>
</nav>
