{% extends "home/base.html" %}
{% load bootstrap3 wagtailcore_tags %}

{% block body_class %}template-formpage{% endblock %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
  <div class="container">
    <h1>{{ self.title }}</h1>
  </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container container-fixed">
    <div class="row">
      <div class="col-md-12">
        {% bootstrap_messages %}
        {{ self.intro|richtext }}
        <form action="{% pageurl page %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}   
            <button type="submit" class="btn btn-success button-lg">
              <i class="fa fa-comment"></i> Ask us
            </button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
