{% extends "portal/base.html" %}
{% load bootstrap3 portal_tags %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
    <div class="container">
      <h1>Get your project links</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <div class="messages">
          {% include 'includes/messages.html' %}
        </div>

        <form action="{% url 'email_link' %}" method="POST" id="email-link-form">
          {% csrf_token %}
          {% bootstrap_form form %}

          {% include 'includes/honeypot_form_field.html' %}

          {% buttons %}
          <button type="submit" class="btn btn-success button-lg">
            <i class="fa fa-envelope"></i> Get your links
          </button>
          {% endbuttons %}
        </form>
        
      </div>
    </div>
  </div>
{% endblock %}