{% extends "faq/base.html" %}
{% load bootstrap3 wagtailcore_tags formbuilder_tags %}

{% block body_class %}template-faqindexpage{% endblock %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
    <div class="container">
      <h1>{{ self.title }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      {# Questions by category #}
      <div class="col-md-8">
        {% for category in page.categories %}
          <h2 class="section-header" id="{{ category.title_id }}">{{ category.title }}</h2>
          <dl class="faq-questions">
            {% for question in category.questions.all %}
              <dt>
                <button class="btn-link" data-toggle="collapse" data-target="#question-{{ question.id }}">{{ question.question }}</button>
              </dt>
              <dd id="question-{{ question.id }}" class="collapse">{{ question.answer|richtext }}</dd>
            {% endfor %}
          </dl>
        {% endfor %}
      </div>

      {# FAQ sidebar #}
      <aside class="col-md-3 col-md-offset-1 faq-sidebar">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>Couldn't find your answer?</h4>
          </div>
          <div class="panel-body">
            {% contact_form %}
          </div>
          <div class="panel-footer">

            {% with contact_settings=settings.home.ContactSettings site_name=page.get_site.site_name %}
              <ul class="list-unstyled">
                {% if contact_settings.email %}
                  <li>
                    <a href="mailto:{{ contact_settings.email }}" title="Email us">
                      <i class="fa fa-envelope fa-lg"></i>{{ contact_settings.email }}
                    </a>
                  </li>
                {% endif %}
                {% if contact_settings.phone_display %}
                  <li>
                    <a href="{{ contact_settings.phone_uri }}" title="Call us">
                      <i class="fa fa-phone fa-lg"></i>{{ contact_settings.phone_display }}
                    </a>
                  </li>
                {% endif %}
                {% if contact_settings.twitter_username %}
                  <li>
                    <a href="https://twitter.com/{{ contact_settings.twitter_username }}" title="Follow us on twitter">
                      <i class="fa fa-twitter fa-lg"></i>@{{ contact_settings.twitter_username }}
                    </a>
                  </li>
                {% endif %}
              </ul>
            {% endwith %}
          </div>
        </div>
      </aside>

    </div>
  </div>
{% endblock %}