{% extends "projectmap/base.html" %}
{% load static projectmap_tags %}

{% block extra_css %}
<style>
      #container {
        position: relative;
        width: 80vw;
        margin: auto;
      }
    </style>
{% endblock %}

{% block title %}Project Map{% endblock %}

{% block content %}
  <div id="container"></div>
{% endblock %}

{% block extra_js %}
{% get_project_map_data as map_data %} 
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{% static "bower_components/datamaps/dist/datamaps.world.min.js" %}"></script>
    <script>
        var map = new Datamap({
          element: document.getElementById("container"),
          projection: 'equirectangular',
          responsive: true,
          fills: {
            defaultFill: "#ccc",
            served: "#00bbe3"
          },
          geographyConfig: {
            hideAntarctica: true,
            borderWidth: 1,
            borderOpacity: 1,
            borderColor: '#FDFDFD',
            popupTemplate: function(geography, data) { //this function should just return a string
              return '<div class="hoverinfo"><strong>' + geography.properties.name + '</strong></div>';
            },
            popupOnHover: true, //disable the popup while hovering
            highlightOnHover: true,
            highlightFillColor: '#006792',
            highlightBorderColor: '#fff',
            highlightBorderWidth: 2,
            highlightBorderOpacity: 1
          },
          data: {{ map_data.map_json }},
        });
        map.arc({{ map_data.arc_json }}, {strokeWidth: 1, arcSharpness: 1, strokeColor: '#ff7f00'});
    </script>
{% endblock %}