{% extends "quote/base.html" %}
{% load bootstrap3 wagtailcore_tags static pipeline %}

{% block title %}Quote Request Form{% endblock %}

{% block extra_js %}
  {% javascript 'mngweb_quote' %}


  <script>
    $(document).ready(function() {
      // $("#notificationModal").modal("show");
      var initialFundingType = "{{service_string|safe}}";
      console.log(initialFundingType);
      switch (initialFundingType) {
        case "BBSRC":
          $("#id_funding_type option[value='BBSRC funded']").prop("selected", true);
          break;
        case "Non-c":
          $("#id_funding_type option[value='Non-commercial']").prop("selected", true);
          break;
        case "Indus":
          $("#id_funding_type option[value='Industry']").prop("selected", true);
          break;
        default:
          break;
      }
    });
  </script>
{% endblock %}
{% block extra_css %}
<style>
  .dateText {
    font-weight: bolder;
    font-size: 16px;
    color: coral;
  }

  #dangerWell {
    background-color: #ff8787;
    font-size: 16px;
  }

  .panel-danger ul {
    padding-left: 1.2em;
  }

  .panel-body > .table {
    margin-bottom: 0;
  }

  .panel-body .table ul {
    padding-left: 1rem;
    margin-bottom: 0;
  }

  .comments-link, .criteria-link {
    cursor: pointer;
  }

</style>
{% endblock %}
{% block body_class %}template-quoterequestformpage{% endblock %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}

<div id="notificationModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Important Notice</h2>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="container-fluid">
                        <div class="col-md-12">

                            Due to University of Birmingham closure around the christmas period,
                            any samples received after the <span class="dateText">15th December</span> will not be processed
                            untill after christmas.


                            <h4>The last sequencing run for this year is due for early December.</h4>

                            <div class="col-md-12"><hr></div>
                            <div class="col-md-12" align="right">
                                <p>Thank you, MicrobesNG Team</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



  <div class="container">

    <div class="row">

      <div class="col-md-8">
        <div class="messages">
          {% include 'includes/messages.html' %}
          {% bootstrap_form_errors form %}
        </div>

        <div class="panel panel-danger">
          <div class="panel-heading"><h4>Important notice!</h4></div>
          <div class="panel-body">
            <p><strong>Please under no circumstances post samples to us before you receive your barcodes or strain tubes.</strong></p>
          </div>
        </div>

        {{ self.intro|richtext }}

        <form action="{% pageurl page %}" method="POST">
          {% csrf_token %}
          {% include 'includes/honeypot_form_field.html' %}

          <h3 class="section-header">Primary contact details</h3>

          <p>Please enter the details of the individual primarily responsible for the day-to-day management of this sequencing project.</p>

          <div class="row">
            <div class="col-md-2">
              {% bootstrap_field form.name_title %}
            </div>
            <div class="col-md-5">
              {% bootstrap_field form.name_first %}
            </div>
            <div class="col-md-5">
              {% bootstrap_field form.name_last %}
            </div>
          </div>

          <div class="row">
            <div class="col-md-7">
              {% bootstrap_field form.email %}
            </div>
            <div class="col-md-5">
              {% bootstrap_field form.phone %}
            </div>
          </div>

          <h3 class="section-header">Principal investigator (grant holder)</h3>
          <p>Please enter the details of the principal investigator (grant holder) for this project.</p>

          <div class="row">
            <div class="col-md-7">
              {% bootstrap_field form.primary_contact_is_pi %}
            </div>
          </div>

          <div class="row pi-contact-fields">
            <div class="col-md-2">
              {% bootstrap_field form.pi_name_title %}
            </div>
            <div class="col-md-5">
              {% bootstrap_field form.pi_name_first %}
            </div>
            <div class="col-md-5">
              {% bootstrap_field form.pi_name_last %}
            </div>
          </div>

          <div class="row pi-contact-fields">
            <div class="col-md-7">
              {% bootstrap_field form.pi_email %}
            </div>
          </div>


          <h3 class="section-header">Postal address</h3>
          <p>This is the address that we will post barcodes, bead tubes and return labels to, and is not used for billing.</p>
          <p>Please make sure to include the building or relevant department.</p>

          {% bootstrap_field form.organisation field_class="organisation-typeahead" %}
          {% bootstrap_field form.department %}
          {% bootstrap_field form.street_line_1 label="Address lines" %}
          {% bootstrap_field form.street_line_2 show_label=False %}
          {% bootstrap_field form.street_line_3 show_label=False %}
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.city %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.region %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              {% bootstrap_field form.postcode %}
            </div>
            <div class="col-md-9">
              {% bootstrap_field form.country field_class="country-typeahead" %}
            </div>
          </div>
          <p><strong>Will payment be made by a different company or institution?</strong></p>
          <p>If yes, please enter the address of the paying company or institution to the <a class="comments-link">comment box below</a>.</p>

          <h3 class="section-header">Sample information</h3>
          <p>Please note: the confidential service costs £100 regardless of funding type.
              Otherwise, your data will be embargoed for 1 year, which can be extended by written
              request (see terms).</p>
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.funding_type %}
              {% bootstrap_field form.is_confidential %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.bbsrc_code %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {% bootstrap_field form.sample_types %}
            </div>
          </div>
          <div id="viral_fungal_note" class="panel panel-warning" hidden>
            <div class="panel-body">
              Please note, we only accept fungi and viruses as DNA as per our <a class="criteria-link">strain submission criteria</a>.
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              {% bootstrap_field form.num_dna_samples %}
              <div class="panel panel-success"><div class="panel-body"><i class="fa fa-globe text-success"></i> DNA samples can be sent from customers worldwide</div></div>
            </div>
            <div class="col-md-4">
              {% bootstrap_field form.num_strain_samples %}
              <div class="panel panel-success"><div class="panel-body"><i class="fa fa-globe text-success"></i> Strains can be sent from customers worldwide</div></div>
              {% bootstrap_field form.confirm_strain_bsl2 %}
            </div>
            <div class="col-md-4">
              {% bootstrap_field form.num_enhanced_strain_samples %}
              <div class="panel panel-success"><div class="panel-body"><i class="fa fa-globe text-success"></i> Enhanced strains can be sent from customers worldwide</div></div>
              {% bootstrap_field form.confirm_enhanced_strain_bsl2 %}
            </div>
          </div>

          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Total number of samples:</th>
                      <td id="quote-total-qty"></td>
                    </tr>
                    <tr>
                      <th>Price per sample:</th>
                      <td id="quote-unit-price"></td>
                    </tr>
                    <tr>
                      <th>Estimated Total (ex. VAT):</th>
                      <td id="quote-grand-total-price"></td>
                    </tr>
                    <tr>
                      <th>What's included?</th>
                      <td>
                        <ul>
                          <li>DNA extraction (strains only)</li>
                          <li>Library preparation</li>
                          <li>Sequencing</li>
                          <li>Basic bioinformatics (annotation, assembly, variant calling)</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <h3 class="section-header">Further details</h3>
          {% bootstrap_field form.batch_type %}
          {% bootstrap_field form.referral_type %}
          {% bootstrap_field form.conference_other %}
          {% bootstrap_field form.comments %}

          {% buttons %}
            <button type="submit" class="btn btn-success button-lg">
              <i class="fa fa-envelope"></i> Request quote
            </button>
          {% endbuttons %}
        </form>
        <!-- <div class="col-md-12">
          <div class="col-md-12 well" id="dangerWell">
              <ul>
                  <li>Cutoff date for receipt of samples: <b>15th December</b></li>
                  <li>Last sequencing run for the year scheduled for early December.</li>
              </ul>
          </div>
        </div> -->
      </div>

      {# Sidebar #}
      <aside class="col-md-4 aside">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>{{ page.side_panel_title }}</h4>
          </div>
          <div class="panel-body">
            {{ page.side_panel_content|richtext }}
          </div>
        </div>
      </aside>

    </div>
  </div>
{% endblock %}
