{% extends "portal/base.html" %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Sorry about this...</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Datacentre repairs</h2>
        <p>Our portal is currently unavailable following a site-wide power outage at our datacentre, which has been necessary to repair damage following a fire. We are extremely sorry for the inconvenience caused by this unusual event, and we are working to get our portal back online today (18/07/2016).</p>

        <p>If you need immediate access to your data, please email <a href="mailto:info@microbesng.com">info@microbesng.com</a> and we will send you an alternative link.</p>

        <p>Kind regards, the MicrobesNG team</p>
      </div>
    </div>
  </div>
{% endblock %}
    
