{% extends "portal/base.html" %}
{% load bootstrap3 portal_tags static %}

{% block extra_js %}
  <script src="{% static 'taxon/js/typeahead.js' %}"></script>
{% endblock %}

{% block title %}MicrobesNG Project {{ project.reference }}{% endblock %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
    <div class="container">
      <h1>Your project</h1>
      <h2>{{ project.reference }}</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% bootstrap_messages %}
      </div>
    </div>

    {% if project %}
      <div class="flex-row row">

        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Project Summary</div>
            <div class="panel-body">
              <table class="table">
                <tbody>
                  <tr>
                    {% if project.unstored_modal_queue_name %}
                      <th>Overall status</th>
                      <td>{{ project.unstored_modal_queue_name }}</td>
                    {% endif %}
                  </tr>
                  <tr>
                    {% if project.unstored_projectline_count %}
                      <th>Number of samples</th>
                      <td>{{ project.unstored_projectline_count }}</td>
                    {% endif %}
                  </tr>
                  <tr>
                    {% if project.all_content_received_date %}
                      <th>Date all samples received</th>
                      <td>{{ project.all_content_received_date }}</td>
                    {% endif %}
                  </tr>
                  <tr>
                    {% if project.unstored_wait_time_weeks %}
                      <th>Waiting time</th>
                      <td>{{ project.unstored_wait_time_weeks }} weeks</td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Sample Preparation</div>
            <div class="panel-body">
              <iframe src="https://www.youtube.com/embed/-kTcFZxP6kM" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading">Sample Data</div>
            <div class="panel-body">

              <form method="post" action="">
                {{ formset.management_form }}
                <table class="table">
                  <thead>
                    <th title="Our internal identifier for your sample">Barcode <i class="fa fa-question-circle"></i></th>
                    <th>Type</th>
                    <th>Customer's Ref</th>
                    <th>Taxon</th>
                    <th>Queue Name</th>
                  </thead>
                  <tbody>
                    {% for form in project.pl_formset %}
                      <tr>
                        <td>{{ form.sample_ref.value }}</td>
                        <td>{{ form.aliquottype_name.value  }}</td>
                        <td>{% bootstrap_field form.customers_ref show_label=False %}</td>
                        <td>{% bootstrap_field form.taxon_name show_label=False field_class="taxon-pk-typeahead" %}</td>
                        <td>{{ form.queue_name.value  }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </form>

            </div>
          </div>

      </div>
    {% endif %}
  </div>
{% endblock %}