{% extends "portal/base.html" %}
{% load bootstrap3 portal_tags static %}

{% block extra_js %}
  <script src="{% static 'portal/js/project.js' %}"></script>
  <script src="{% static 'taxon/js/typeahead.js' %}"></script>
  <script src="{% static 'country/js/typeahead.js' %}"></script>
{% endblock %}

{% block title %}Your Project {{ project.reference }}{% endblock %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Your project</h1>
          <h2>{{ project.reference }}</h2>
        </div>
        <div class="col-md-3 col-md-offset-3 hidden-sm hidden-xs text-right">
          <img src="{% static "images/mng-logo-500.png" %}" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% bootstrap_messages %}
      </div>
    </div>

    {% if project %}

      <div class="row">
        <div class="col-md-6">
          <h2>Project Summary</h2>
          <table class="table">
            <tbody>
              <tr>
                <th>Reference</th>
                <td>{{ project.reference }}</td>
              </tr>
              <tr>
                {% if project.modal_queue_name %}
                  <th>Overall status</th>
                  <td>{{ project.modal_queue_name }} ({{ project.modal_queue_matches }}/{{ project.projectline_count }})</td>
                {% endif %}
              </tr>
              <tr>
                <th>Primary contact</th>
                <td>{{ project.contact_name_full }}</td>
              </tr>
              <tr>
                {% if project.projectline_count %}
                  <th>Number of samples</th>
                  <td>{{ project.projectline_count }}</td>
                {% endif %}
              </tr>
              <tr>
                {% if project.all_content_received_date %}
                  <th>Date all samples received</th>
                  <td>{{ project.all_content_received_date }}</td>
                {% endif %}
              </tr>
              <tr>
                {% if project.wait_time_weeks %}
                  <th>Waiting time</th>
                  <td>{{ project.wait_time_weeks }} weeks</td>
                {% endif %}
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md-6">

          {% if project.results_url %}
            <div class="panel panel-success">
              <div class="panel-heading">Your sequencing results</div>
              <div class="panel-body">
                <p>You sequencing results are now available at: <a href="{{ project.results_url }}">{{ project.results_url }}</a></p>
              </div>
            </div>
          {% endif %}

          {% if project.meta_data_status == "Open" %}
            <div class="panel panel-info">
              <div class="panel-heading">Sample Preparation</div>
              <div class="panel-body">
                <p>Proper preparation of samples is essential to achieve the best possible results. Please read our sample preparation instructions before sending your samples.</p>
                {# <iframe src="https://www.youtube.com/embed/-kTcFZxP6kM" frameborder="0" allowfullscreen></iframe> #}
                <h4><a href="/documents/3/MicrobesNG_preparing_your_bead_tubes.pdf"><i class="fa fa-file-pdf-o"></i> Preparing strain samples (bead tubes)</a></h4>
                <h4><a href="/documents/3/MicrobesNG_preparing_your_DNA_samples.pdf"><i class="fa fa-file-pdf-o"></i> Preparing DNA samples</a></h4>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-md-6">
                  <h4>Prefer to edit in Excel?</h4>
                  <p>We recommend using our web form below for small numbers of samples, but you can also <a href="{% url 'download_sample_sheet' project.uuid %}">download your excel template.</a></p>
                </div>
                <div class="col-md-6">
                  <form method="post" action="{% url 'upload_sample_sheet' project.uuid %}" enctype="multipart/form-data" class="excel-upload-form">
                    {% csrf_token %}
                    {% bootstrap_form upload_sample_sheet_form %}
                    {% buttons %}
                      <button type="submit" class="btn btn-success button-lg">
                        <i class="fa fa-cloud-upload"></i> Upload
                      </button>
                    {% endbuttons %}
                  </form>
                </div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <h2>Your Samples</h2>
          <table class="table">
            <thead>
              <th>Barcode <span data-toggle="tooltip" title="Our internal identifier for your sample"><i class="fa fa-question-circle"></i></span></th>
              <th>Type</th>
              <th>Customer's Ref</th>
              <th>Taxon</th>
              <th>Current Queue (Status)</th>
              <th></th>
            </thead>
            <tbody>
              {% for pl in project.projectlines %}
                <tr class="vert-middle">
                  <td>{{ pl.sample_ref }}</td>
                  <td>{{ pl.aliquottype_name  }}</td>
                  <td class="pl-customers-ref">{{ pl.customers_ref  }}</td>
                  <td class="pl-taxon">{{ pl.taxon_name  }}</td>
                  <td>{{ pl.queue_name  }}</td>
                  <td>
                    {% if project.meta_data_status == "Open" %}
                      {% if pl.customers_ref %}
                        <button class="btn btn-default pull-right pl-edit-button" type="button" data-target="#edit-row-{{ forloop.counter0 }}" data-toggle="collapse">Edit sample data</button>
                      {% else %}
                        <button class="btn btn-warning pull-right pl-edit-button" type="button" data-target="#edit-row-{{ forloop.counter0 }}" data-toggle="collapse">Provide sample data</button>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
                {% if project.meta_data_status == "Open" %}
                  <tr class="collapse bg-grey" id="edit-row-{{ forloop.counter0 }}">
                    <td colspan="6">
                      <form method="post" action="{% url 'projectline_update' project.uuid pl.uuid %}" class="projectline-form">
                        <div class="col-md-4">
                          {# Include hidden fields #}
                          {% for hidden in pl.form.hidden_fields %}
                            {{ hidden }}
                          {% endfor %}

                          <h3>Basic sample data</h3>
                          {% bootstrap_field pl.form.customers_ref %}
                          {% bootstrap_field pl.form.taxon_name field_class="taxon-pk-typeahead" %}
                          {% if pl.aliquottype_name == "DNA" %}
                            {% bootstrap_field pl.form.dna_concentration_ng_ul %}
                            {% bootstrap_field pl.form.volume_ul %}
                          {% endif %}
                        </div>
                        <div class="col-md-4">
                          <h3>Core meta data</h3>
                          {% bootstrap_field pl.form.geo_country_name field_class="country-typeahead" %}
                          {% bootstrap_field pl.form.geo_specific_location %}
                          <label>Sample Collection Date (DD/MMM/YYYY)</label>
                          <span class="help-block">Day or Month can be omitted if unknown</span>
                          <div class="row">
                            <div class="col-md-4">{% bootstrap_field pl.form.collection_day show_label=False %}</div>
                            <div class="col-md-4">{% bootstrap_field pl.form.collection_month show_label=False %}</div>
                            <div class="col-md-4">{% bootstrap_field pl.form.collection_year show_label=False %}</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <h3>Extended meta data</h3>
                          {% bootstrap_field pl.form.study_type %}
                          <div class="meta-data-host">
                            {% bootstrap_field pl.form.host_taxon_name field_class="taxon-typeahead" %}
                            {% bootstrap_field pl.form.host_sample_type field_class="hostsampletype-typeahead" %}
                          </div>
                          <div class="meta-data-environmental">
                            {% bootstrap_field pl.form.environmental_sample_type field_class="environmentalsampletype-typeahead" %}
                          </div>
                          <div class="meta-data-lab">
                            {% bootstrap_field pl.form.lab_experiment_type %}
                          </div>
                          <div class="meta-data-further-details">
                            {% bootstrap_field pl.form.further_details %}
                          </div>

                          {% buttons %}
                          <button type="submit" class="btn btn-success button-lg">
                            <i class="fa fa-floppy-o"></i> Save
                          </button>
                          {% endbuttons %}

                          <div class="form-messages">
                            {# placeholder for ajax messages #}
                          </div>
                        </div>
                      </form>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="hidden" id="env-fd-help-text">e.g. Extracted from soil sample collected in Central Park</div>
  <div class="hidden" id="lab-fd-help-text">e.g. SecA</div>
  <div class="hidden" id="host-fd-help-text">e.g. Bloody diarrhoea</div>

{% endblock %}