{% extends "home/base.html" %}
{% load bootstrap3 wagtailcore_tags %}

{% block body_class %}template-formpage{% endblock %}

{% block full_jumbo %}
  <div class="jumbotron bg-grey">
    <div class="container">
      <h1>{{ self.title }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">

      <div class="col-md-8">
        <div class="messages">
          {% include 'includes/messages.html' %}
        </div>
        {{ self.intro|richtext }}
        <form action="{% pageurl page %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}

          {% include 'includes/honeypot_form_field.html' %}

            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6Ldwv3oUAAAAAFYBhPYVKVe7r_UnVvKsIVGiSsbb"></div>

          {% buttons %}
            <button type="submit" class="btn btn-success button-lg">
              <i class="fa fa-comment"></i> Ask us
            </button>
          {% endbuttons %}
        </form>
      </div>

      {# Sidebar #}
      {% if page.side_panel_content %}
        <aside class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Aside</h4>
            </div>
            <div class="panel-body">
              Aside
            </div>
          </div>
        </aside>
      {% endif %}



    </div>

  </div>
{% endblock %}
