{% extends 'email/html_email_base.html' %}
{% load account %}
{% load i18n %}

{% block title %}{% include "account/email/password_reset_key_subject.txt" %}{% endblock %}
{% block subject %}{% include "account/email/password_reset_key_subject.txt" %}{% endblock %}

{% block content %}
  {% blocktrans %}
    <p>You're receiving this email because you or someone else has requested a password reset for your MicrobesNG user account.</p>
    <p>It can be safely ignored if you did not request a password reset. Click the link below to reset your password.</p>
    <p>{{ password_reset_url }}</p>
    <p>Kind regards,<br>MicrobesNG team</p>
  {% endblocktrans %}
{% endblock %}
