{% extends "home/base.html" %}
{% load static home_tags wagtailcore_tags projectmap_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block extra_js %}
  <script>
    $(document).ready(function() {
      $("#notificationModal").modal("show");
    });
</script>
{% endblock %}
{% block full_jumbo %}
  <div class="jumbotron bg-grey">
    <div class="container">
      <div class="flex-row row">
        <div class="col-md-3 col-md-offset-1 hidden-sm hidden-xs">
          <img src="{% static "images/mng-logo-500.png" %}" class="img-responsive">
        </div>
        <div class="col-md-6 col-sm-offset-1">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
            <h2>{{ page.subtitle }}</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {# Service Stats #}
  {% get_lims_sample_stats as sample_stats %}
  {% get_lims_project_stats as project_stats %}
  {% if sample_stats and project_stats %}
  <div class="container-fluid stats-jumbo hidden-sm hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-4 stats-jumbo-block">
          <dl><dt>Samples processed</dt><dd>{{ sample_stats.total_count }}</dd>
        </div>
        <div class="col-md-4 stats-jumbo-block">
          <dl><dt>Median waiting time <a href="#" data-toggle="tooltip" title="Based on completed projects where the data was delivered in the past 90 days."><i class="fa fa-question-circle"></i></a></dt><dd>{{ project_stats.median_wait_time_weeks }} weeks</dd>
        </div>
        <div class="col-md-4 stats-jumbo-block">
          <dl><dt>Strains archived</dt><dd>{{ sample_stats.strain_count }}</dd>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block content %}


<div id="notificationModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h2 class="modal-title">Important Notice - Christmas Closure</h2>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                  <div class="container-fluid">
                      <div class="col-md-12">
                          Please note, MicrobesNG will be closed
                          from <span class="dateText">22nd December</span> to the <span class="dateText">4th January</span>
                          for the Christmas break.
                          <div class="col-md-12"><hr></div>
                          <div class="col-md-12" align="right">
                              <p>Thank you, MicrobesNG Team</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


  {# Feture Panels #}
  {% if self.feature_panels.all %}
    <div class="container-fluid text-center">
      <div class="container">
        <div class="row">
          {% for feature_panel in self.feature_panels.all %}
            <div class="col-sm-4">
              <div class="feature-grid-cell">
                <i class="fa {{ feature_panel.glyphicon_class }} fa-3x" aria-hidden="true"></i>
                <h4>{{ feature_panel.title }}</h4>
                <p>{{ feature_panel.text }}</p>
              </div>
            </div>
            {% if forloop.counter|divisibleby:"3" %}
              <div class="clearfix"></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {# Pricing #}
  <div class="container-fluid bg-grey">
    <div class="container">
        <div class="row text-center">
          <h2>{{ self.pricing_title }}</h2>
          <h4>{{ self.pricing_subtitle }}</h4>
        </div>
        <div class="row">
          {% service_price_panels_homepage %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{ self.pricing_footer|richtext }}
          </div>
        </div>
    </div>
  </div>

  {# World map #}
  <div class="container hidden-xs">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Supporting sequencing projects worldwide</h2>
        <h4 class="text-center">View the <a href="{% url 'projectmap:countries_served' %}" title="Map of countries served">full map</a></h4>
        <div id="projectmap_container"></div>
      </div>
    </div>
  </div>

  {# Testimonials #}
  <div class="container-fluid text-center hidden-xs bg-grey">
    <h2>Testimonials</h2>
    {% testimonial_carousel %}
  </div>
{% endblock %}

{% block extra_js %}
  {% map_countries_served container_id='projectmap_container' height=450 %}
{% endblock %}
