/* --- HOME STATS PANELS (Block design) --- */

.template-homepage .jumbotron {
  margin-bottom: 0;
}

.stats-jumbo {
  border: 1px solid #fff;
  background-color: #575757;
  color: #fff;
  margin-bottom: 20px;
}

.stats-jumbo-block {
  padding: 10px;
  text-align: center;
}

.stats-jumbo-block:nth-child(2) {
  border: 1px solid #fff;
  border-width: 0 1px;
}

.stats-jumbo-block dl {
  margin-bottom: 0;
}

.stats-jumbo-block dd {
  font-size: 2em;
}


/* --- HOME STATS PANELS (Old design) --- */

.stats-panels .panel-body {
  font-size: 1.2em;
  padding: 0;
}

.stats-panels .dl-horizontal {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
}

.stats-panels .dl-horizontal dt {
  float: left;
  width: 70%;
  background-color: #00b3e1;
  color: #fff;
  padding: 0 10px;
  line-height: 50px;
  text-align: right;
}

.stats-panels .dl-horizontal dd {
  margin-left: 70%;
  font-size: 1.3em;
  text-align: center;
  padding: 0 10px;
  line-height: 50px;
}

/* --- HOME FEATURE GRID --- */

.feature-grid-cell {
  padding: 20px 50px;
}

.feature-grid-cell h4 {
  font-weight: 400;
}

.feature-grid-cell p {
  font-size: 1em;
}

.feature-grid-cell .glyphicon {
  color: #006892;
  font-size: 40px;
}


/* --- SERVICE PRICE PANELS --- */

.panel-prices {
  border: 1px solid #00bbe3; 
}

.panel-prices .panel-heading {
  color: #fff;
  background-color: #00bbe3;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-prices {
  transition: box-shadow 0.5s;
}

.panel-prices:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-prices .panel-heading {
  padding: 10px;
}

.panel-prices .panel-footer {
  background-color: #fff;
}

.panel-prices .panel-footer h3 {
  font-size: 32px;
}

.panel-prices .panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-prices .panel-footer .btn {
  margin: 15px 0;
  background-color: #00bbe3;
  color: #fff;
}

.panel-prices ul li {
  text-align: left;
  padding: 0 0 10px 0;
}

/* --- CAROUSEL --- */

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #00bbe3;
}

.carousel-indicators li {
  border-color: #00bbe3;
}

.carousel-indicators li.active {
  background-color: #00bbe3;
}

.carousel-inner .item blockquote {
  border: 0;
  display: block;
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 150px;
}

.carousel-inner .item span {
  font-style: normal;
}

/* --- PEOPLE PAGE --- */

.person {
  margin: 10px 0 20px 0;
  text-align: center;
}

.person dt {
  font-size: 1.8em;
  margin-bottom: 5px;
}

.person dd {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
}